NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_dGVuZGVyLXdlZXZpbC05MC5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_zMEadiWOxxt4xQm7ylYqiNX2sKiS4xTXQufMlY2ELm
ADMIN_USERNAME=uriwa
ADMIN_PASSWORD=uriwa123
ADMIN_SESSION_SECRET=change-this-secret

